# Copyright (C) 2024 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0

on property:vendor.post_boot.parsed=1
    exec u:r:vendor_qti_init_shell:s0 -- /vendor/bin/init.mi_perf.sh

    # Set default thermal profile to dynamic
    write /sys/class/thermal/thermal_message/sconfig 10

service vendor.qti.hardware.display.composer /vendor/bin/hw/vendor.qti.hardware.display.composer-service
    override
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    socket pps stream 0660 system system
    task_profiles ProcessCapacityHigh HighPerformance

service vendor.qti.hardware.display.allocator /vendor/bin/hw/vendor.qti.hardware.display.allocator-service
    override
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ProcessCapacityHigh HighPerformance
